*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.general{
	background: #ff9800;
}
.london{
	float: left;
	
}
.paris{
	float: left;
}
.tokyo{
	float: left;
	
}
.block{
	width: 30%;
	padding: 15px;

}

.general{
	padding: 10px 20px;
}
.general p{
	padding-top: 5px;
}
.cities{
	margin: 20px 20px 0;

}

.cities p{
	margin-top: 10px;
	margin-bottom: 10px;
}
.description{
	min-height: 80px;
	overflow: hidden;	
}
img{
	height: 190px;
	width: 285px;
}
.ta-c{
	text-align: center;
}
.city-name{
		min-height: 50px;
}
.cities::after{
	content: "";
	display: block;
	clear: both;
}

@media screen and (max-width: 600px) {
	.block{
		width: 100%;

	}
}
@media screen and (max-width: 960px) {
	.london, .paris{
		width: 50%;
	}
	.tokyo{
		width: 100%;
	}
}